/*Used to style navigation bar*/
.nav {
	position: absolute;
	width: 100%;
	background-color: lightslategrey;
}
.nav-element {
	background-color:slategray;
	display: inline-block;
	position: relative;
	float: left;
	padding: 1rem;
	margin: .4rem;
	margin-bottom: 1.2rem;
	text-align: center;
	border-radius: 30%;
}
/*Adds shadow to element on hover*/
.nav-element:hover, .btn:hover {
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
}
.nav-element:active, .btn:active {
	transform: translateY(.1rem);
}

a {
	color: ghostwhite;
	text-decoration: none;
}

/*Style for adjusting position of image*/
.pic {
	display: inline-block;
}

/*Bolds text and adds a slight margin between elements*/
.bold {
	font-weight: bold;
	margin-right: 5px;
	text-transform: uppercase;
}

/*Sets background color and border style of button element*/
.btn {
	background-color: #141d19;
	border-radius: 50%;
	border: none;
	padding: 10px;
	width: 64px;
}

.meme {
	display: inline-block;
	position: fixed;
	top: 25%;
	left: 34%;
}